@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F4F8F6; /* mint green */
  color: #0B3D20;            /* deep forest green */
  font-family: 'Open Sans', sans-serif;
}
